services:
    traefik:
        image: traefik:v3.6.9
        container_name: laravel-traefik
        command:
            - "--api.insecure=true"
            - "--providers.docker=true"
            - "--entrypoints.web.address=:80"
            - "--providers.docker.exposedbydefault=false"
        ports:
            - "80:80"
            - "8081:8080"
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        networks:
            - laravel

    nginx:
        image: nginx:alpine
        container_name: laravel-nginx
        volumes:
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - php
        networks:
            - laravel
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.laravel.rule=Host(`localhost`)"
            - "traefik.http.routers.laravel.entrypoints=web"
            - "traefik.http.services.laravel.loadbalancer.server.port=80"

    php:
        build:
            context: .
            dockerfile: docker/php/Dockerfile
        container_name: laravel-php
        networks:
            - laravel
        depends_on:
            - mysql

    mysql:
        image: mysql:8.0.43-debian
        container_name: laravel-mysql
        ports:
            - "3306:3306"
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: ${DB_DATABASE}
            MYSQL_USER: ${DB_USERNAME}
            MYSQL_PASSWORD: ${DB_PASSWORD}
        volumes:
            - mysql_data:/var/lib/mysql
        networks:
            - laravel

volumes:
    mysql_data:

networks:
    laravel:
